@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: large;
}

body,
html {
  height: 100%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

body {
  position: relative;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.something {
  width: 525px;
  height: 700px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.image img {
  width: 85%;
}

.paragraph {
  position: absolute;
  top: 50px;
}

.paragraph p {
  color: grey;
  font-size: 2rem;
  margin: 0;
}

.day_form,
.coffee_back,
.coffeeOptions,
.extra,
.extra2 {
  display: none;
}

.day,
.date {
  margin-bottom: 1rem;
}

.coffee {
  border-radius: 10px;
}

.coffee_back {
  float: right;
}

.coffeeOptions div img {
  max-width: 200px;
  height: 150px;
}

.coffeeOptions div {
  margin: 15px;
  text-align: center;
}

.coffeeOptions div:hover {
  cursor: pointer;
}

.coffeeOptions div:last-child {
  margin-bottom: 20px;
}

.coffeeOptions {
  flex-wrap: wrap;
}

.HotWater {
  margin-left: 58px;
}

.Americano {
  margin-left: 36px;
}

#now,
#program,
#viewSchedule {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid black;
  transition: filter 1s, box-shadow 1s;
}

#now:hover,
#program:hover,
#viewSchedule:hover {
  filter: brightness(85%);
}

.buttonn {
  display: flex;
  margin-top: 20px;
}

.buttonn button:first-child {
  margin-right: 30px;
}

.viewSchedule {
  margin-right: 30px;
}

.buttonn button {
  box-shadow: 0;
}

.buttonn button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.coffeeOptions2 div img {
  max-width: 200px;
  height: 150px;
}

.coffeeOptions2 div {
  margin: 15px;
  text-align: center;
}

.coffeeOptions2 div:hover {
  cursor: pointer;
}

.coffeeOptions2 div:last-child {
  margin-bottom: 20px;
}

.coffeeOptions2 {
  flex-wrap: wrap;
  display: flex;
}

.isActive {
  margin-top: 50px;
  transition: box-shadow 1s;
  border: 10px solid blue;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0;
  font-weight: bold;
  cursor: pointer;
}

.isActive:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.isActive p {
  margin-bottom: 0px;
}

.container_notification {
  position: absolute;
  right: 10px;
  top: 10px;
}

.notification {
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.notification p {
  margin: 0;
}

.notification span {
  top: 2px;
  right: 11px;
  /* bottom: 0; */
  /* left: 0; */
  cursor: pointer;
  position: absolute;
}

/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    width: 100%;
  }
} */
