<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coffee Machine</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="../static/coffee-machine.png" />
    <link rel="stylesheet" href="../static/schedules_style.css" />
  </head>

  <!-- This is where the body starts -->
  <body>
    <div class="container">
        <div class="something2">
          <div class="paragraph2">
            <p>Schedules</p>
          </div>
          <div class="texts">
            <div class="item">
              {% if schedules|length > 0 %}
                    {% for s in schedules %}
                      <div class="textIn">
                        <p>Time: {{s.time}} Date: {{s.date}} Day: {{s.day}} Cups: {{s.cups}} Type: {{s.coffeetype}} </p>
                      </div>
                    {% endfor %}
              {% else %}
                <h4>There are no schedules yet! </h4>
              {% endif %}

            </div>
          </div>
      </div>



      <div class="something">
        <div class="paragraph">
          <p>Smart Coffee Machine</p>
        </div>
        <div class="image">
          <img
            src="../static/a7d9c70b2356cf17842190c0ff51e760.png"
            alt=""
            srcset=""
          />
        </div>
        <div class="buttonn">
          <button
            type="button"
            class="btn"
            data-toggle="modal"
            data-target="#exampleModal"
            id="program"
          >
           <img src="../static/iconmonstr-undo-1-48.png" alt="" srcset="">
          </button>
      </div>
      <div class="isActive"><p>{{status}}</p></div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../static/schedules_app.js"></script>
  </body>
</html>
